fastapi>=0.104.0
uvicorn[standard]>=0.24.0
numpy>=1.24.0
# Use headless for serverless deployment to save space
opencv-python-headless>=4.8.0
python-multipart>=0.0.6
orjson>=3.9.0
supabase
python-dotenv

